### General
*.DS_Store
doc/
codemr/
../logs/

### Eclipse ###
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders

### Maven ###
target/

### ContestGen ###
contests/

### BallotZipper ###
*.zip
